---
import '../styles/global.css'
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Felicitats Anna! ❤️</title>
    <Analytics />
  </head>
  <body
    class="bg-zinc-950 text-zinc-300 antialiased min-h-screen selection:bg-pink-500/30"
  >
    <slot />
  </body>
</html>
